{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <p>Сортировка по:
                <a href="{% url 'show_catalog' %}?sort=max_price">начиная с дорогих</a>
                <a href="{% url 'show_catalog' %}?sort=min_price">начиная с дешевых</a>
                <a href="{% url 'show_catalog' %}?sort=name">названию</a>
            </p>
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            {% for phone in catalog %}
            <ul>
                <li><h2><a href="{{ phone.get_absolute_url }}">{{phone.name}}</a></h2></li>
                <li>{{phone.price}}</li>
                <li><img src={{phone.image}} height="300"></li>
            </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}